In [1]:
# Import Libraries
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
        .appName("SQLClass2App") \
        .getOrCreate()

In [3]:
spark.version

'3.5.4'

In [4]:
# Define MySQL credentials
mysql_url = "jdbc:mysql://localhost:3307/class_2"
mysql_user = "root"
mysql_password = "00000"
mysql_driver = "com.mysql.cj.jdbc.Driver"

## Mysql Connection with spark

In [5]:
query = "select * from world"

In [6]:
df = spark.read \
    .format("jdbc") \
    .option("url", mysql_url) \
    .option("user", mysql_user) \
    .option("query", query) \
    .option("password", mysql_password) \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .load()

In [7]:
def mysql_read_action(query):
    """
    Perform MySQL actions like read, write, update and delete
    """
    return spark.read \
    .format("jdbc") \
    .option("url", mysql_url) \
    .option("user", mysql_user) \
    .option("query", query) \
    .option("password", mysql_password) \
    .option("driver", mysql_driver) \
    .load()

In [8]:
df = mysql_read_action(query)

In [9]:
df.show()

+-----------+---------+-------+----------+------------+
|       name|continent|   area|population|         gdp|
+-----------+---------+-------+----------+------------+
|Afghanistan|     Asia| 652230|  25500100| 20343000000|
|    Albania|   Europe|  28748|   2831741| 12960000000|
|    Algeria|   Africa|2381741|  37100000|188681000000|
|    Andorra|   Europe|    468|     78115|  3712000000|
|     Angola|   Africa|1246700|  20609294|100990000000|
+-----------+---------+-------+----------+------------+

## Import necessary libaries

In [15]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

### 51. A country is big if: 
#### ● it has an area of at least three million (i.e., 3000000 km2), or
#### ● it has a population of at least twenty-five million (i.e., 25000000).

### Write an SQL query to report the name, population, and area of the big countries.

In [16]:
sql_query_51 = "select name, continent, area, population from world where area >= 3000000 or population>= 25000000"
df_sql_51 = mysql_read_action(sql_query_51)
df_sql_51.show()

+-----------+---------+-------+----------+
|       name|continent|   area|population|
+-----------+---------+-------+----------+
|Afghanistan|     Asia| 652230|  25500100|
|    Algeria|   Africa|2381741|  37100000|
+-----------+---------+-------+----------+

In [17]:
# pyspark solution

In [18]:
world_query = "select * from world"
world_df = mysql_read_action(world_query)
world_df.show()

+-----------+---------+-------+----------+------------+
|       name|continent|   area|population|         gdp|
+-----------+---------+-------+----------+------------+
|Afghanistan|     Asia| 652230|  25500100| 20343000000|
|    Albania|   Europe|  28748|   2831741| 12960000000|
|    Algeria|   Africa|2381741|  37100000|188681000000|
|    Andorra|   Europe|    468|     78115|  3712000000|
|     Angola|   Africa|1246700|  20609294|100990000000|
+-----------+---------+-------+----------+------------+

In [20]:
df_filtered_51 = world_df.select("name", "continent", "area", "population").filter((F.col("area") >= 3000000) | (F.col("population") >= 25000000))
df_filtered_51.show()

+-----------+---------+-------+----------+
|       name|continent|   area|population|
+-----------+---------+-------+----------+
|Afghanistan|     Asia| 652230|  25500100|
|    Algeria|   Africa|2381741|  37100000|
+-----------+---------+-------+----------+